<div layout="row">
	<fs-datetime fs-model="from" fs-label="{{fromLabel}}" fs-date="hasDate" fs-time="hasTime" fs-disabled-days="fromDisabledDays" fs-disabled-times="fromDisabledTimes" fs-disabled="disabled" fs-required="required" fs-change="onChange()" fs-class="{{class}}"></fs-datetime>
	<div class="to">to</div>
	<fs-datetime fs-model="to" fs-label="{{toLabel}}" fs-date="hasDate" fs-time="hasTime" fs-disabled-days="toDisabledDays" fs-disabled-times="toDisabledTimes" fs-disabled="disabled" fs-required="required" fs-change="onChange()" fs-class="{{class}}"></fs-datetime>
</div>