<div class="fs-datetime-dialog" tabindex="0" ng-class="{ opened: opened, 'has-date': hasDate, 'has-time': hasTime, 'has-calendar': hasCalendar }">
	<div class="wrap">
		<div layout="row" class="date-time">
			<div class="date" ng-show="hasDate" flex>
				<table ng-show="hasCalendar" class="calendar">
					<thead>
						<tr>
							<th>Sun</th>
							<th>Mon</th>
							<th>Tues</th>
							<th>Wed</th>
							<th>Thurs</th>
							<th>Fri</th>
							<th>Sat</th>
						</tr>
					</thead>
					<tbody class="calendar calendar-{{::month.date}}" ng-repeat="month in months track by month.date">
						<tr>
							<td colspan="7" class="month-year">
								<div layout="row">
									<md-select ng-init="month.selectedMonth=month.number" ng-model="month.selectedMonth" ng-click="monthClick(month)" class="month" aria-label="Month" ng-change="monthChange(month)">
		                              	<md-option ng-repeat="item in month.months track by item.value" ng-value="item.value">{{::item.name}}</md-option>
		                            </md-select>

		                            <md-select ng-model="month.year" ng-click="yearClick(month)" class="year" aria-label="Year" ng-change="yearChange(month.year)">
		                                <md-option ng-repeat="item in month.years track by item" ng-value="item">{{::item}}</md-option>
		                            </md-select>
		                        </div>
							</td>
						</tr>
						<tr class="week" ng-repeat="week in month.weeks">
							<td ng-repeat="day in week track by day.number" class="day" ng-class="{ mute: day.mute, selected: day.date==selectedDate && !day.mute, disabled: day.disabled }" ng-click="dayClick(day)">
								<span>{{::day.number}}</span>
							</td>
						</tr>
					</tbody>
				</table>

				<div ng-if="!hasCalendar" layout="row" class="inline-date">
					<div flex="33">
						<md-input-container class="md-block md-no-message md-no-label">
							<md-select placeholder="Month" ng-model="selectedMonth" aria-label="Month" ng-change="monthChange(selectedMonth)">
	                          	<md-option ng-repeat="item in monthList track by item.value" ng-value="item.value">{{::item.name}}</md-option>
	                        </md-select>
						</md-input-container>
					</div>
					<div flex="33">
						<md-input-container class="md-block md-no-message md-no-label">
							<md-select placeholder="Day" ng-model="selectedDay" aria-label="Day" ng-change="dayChange(selectedDay)">
	                          	<md-option ng-repeat="(key,value) in [] | fsDatetimeDayRange:selectedMonth:selectedYear" ng-value="value">{{::value}}</md-option>
	                        </md-select>
						</md-input-container>
					</div>
					<div flex="33">
						<md-input-container class="md-block md-no-message md-no-label">
							<md-select placeholder="Year" ng-model="selectedYear" aria-label="Year" ng-change="yearChange(selectedYear)">
	                            <md-option ng-repeat="item in [] | fsDatetimeYearRange" ng-value="item">{{::item}}</md-option>
	                        </md-select>
						</md-input-container>
					</div>
				</div>
			</div>

			<div class="time" ng-show="hasTime">

				<div layout="row" layout-align="start start">
					<div class="hours">
						<div class="lbl">Hour</div>
						<table>
							<tr ng-repeat="hours in timeHours">
								<td ng-repeat="hour in hours" class="hour" ng-click="hourClick(hour)" ng-class="{ disabled: disabledTimeHours[hour], selected: hour==selectedHour }">
									<div class="number">
										<span ng-if="hour<12">{{hour ? hour : 12}}<span class="am-pm">am</span></span>
										<span ng-if="hour>=12">{{hour==12 ? 12 : hour-12}}<span class="am-pm">pm</span></span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div class="minutes">
						<div class="lbl">Minute</div>
						<table>
							<tr ng-repeat="minutes in timeMinutes">
								<td ng-repeat="minute in minutes" class="minute" ng-class="{ disabled: disabledTimeMinutes[minute], selected: minute==selectedMinute }" ng-click="minuteClick(minute)">
									<div class="number">
										{{::minute}}
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div layout="row" layout-align="end start" ng-show="hasTime">
			<md-button class="md-accent" ng-click="close($event)">Done</md-button>
		</div>
	</div>
</div>
