<div layout="row" layout-align="start center">
	<md-input-container ng-class="{ 'has-time': hasTime, 'has-date': hasDate }">
		<label>{{label}}</label>
		<input ng-model="input" type="text" ng-change="inputChange()" ng-click="inputClick($event)" ng-keyup="inputKeyup($event)" ng-blur="inputBlur($event)" ng-focus="inputFocus()" ng-model-options="{ debounce: 300 }" aria-label="input" size="{{inputLength || 1}}" ng-disabled="disabled"/>
	</md-input-container>
</div>
<div class="backdrop ng-hide" ng-show="opened" ng-click="close($event)"></div>
