<md-input-container class="fs-datetime" ng-class="{ 'has-time': hasTime, 'has-date': hasDate }">
	<label>{{label}}</label>
	<div layout="row" layout-align="start center">
		<input ng-model="input" type="text" ng-change="inputChange()" ng-click="inputClick($event)" ng-keyup="inputKeyup($event)" ng-blur="inputBlur($event)" ng-focus="inputFocus()" class="md-input input"  ng-model-options="{ debounce: 300 }"/>
	</div>
</md-input-container>
<div class="backdrop ng-hide" ng-show="open" ng-click="close()"></div>
