<div layout="row" class="datetime-row" ng-class="{ 'datetime-block': block }">
	<div class="datetime-from">
		<fs-datetime fs-hint="{{hint}}" fs-model="from" fs-label="{{fromLabel}}" fs-date="hasDate" fs-time="hasTime" fs-disabled-days="fromDisabledDays" fs-disabled-times="fromDisabledTimes" fs-disabled="disabled" fs-required="required" fs-change="onChange()" fs-class="{{class}}"></fs-datetime>
	</div>
	<div class="to">to</div>
	<div class="datetime-to">
		<fs-datetime fs-model="to" fs-label="{{toLabel}}" fs-date="hasDate" fs-time="hasTime" fs-disabled-days="toDisabledDays" fs-disabled-times="toDisabledTimes" fs-disabled="disabled" fs-required="required" fs-change="onChange()" fs-class="{{class}}"></fs-datetime>
	</div>
</div>