<form fs-validate="submit()">

<div layout="row">
	<div flex="50">


		<fs-datetime-range fs-hint="Test hintTest hintTest hintTest hintTest hintTest hintTest hintTest hintTest hint" fs-required="true" fs-from="from" fs-to="to" fs-to-label="End Date" fs-from-label="Start Date" fs-time="true" fs-class="md-block"></fs-datetime-range>
<!--
		<fs-datetime-range fs-hint="Test hintTest hintTest hintTest hintTest hintTest hintTest hintTest hintTest hint" fs-required="true" fs-from="from" fs-to="to" fs-to-label="End Date" fs-from-label="Start Date" fs-time="true"></fs-datetime-range>

-->
		<fs-datetime fs-model="model3" fs-label="Date/Time" fs-time="true" fs-hint="Test hint" fs-required="true"></fs-datetime>
		<fs-datetime fs-model="model4" fs-label="Time" fs-date="false" fs-time="true"></fs-datetime>
		<fs-datetime fs-model="model6" fs-label="Date Update"></fs-datetime>
<!--

 		<fs-datetime fs-model="model1" fs-label="Date" fs-time="false" fs-calendar="false"></fs-datetime>

		<fs-datetime fs-model="model1" fs-label="Date" fs-time="false" fs-disabled="disabled"></fs-datetime>

		<fs-datetime-birthdate fs-model="model7" fs-label="Birthday"></fs-datetime-birthdate>
		<fs-datetime-date fs-model="model8" fs-label="Date"></fs-datetime-date>
		<fs-datetime fs-model="fromtime" fs-to-label="End Date" fs-from-label="Start Date" fs-time="true" fs-disabled-times="[[40,170]]"></fs-datetime>

		<fs-datetime fs-model="model2" fs-label="Date (Disabled)" fs-time="true" fs-disabled-days="disabledDays" fs-disabled-hours="disabledHours" fs-disabled-minutes="disabledMinutes"></fs-datetime>
		<fs-datetime fs-model="model3" fs-label="Date/Time" fs-time="true"></fs-datetime>

		<fs-datetime fs-model="model3" fs-label="Date/Time" fs-time="true" fs-default-time="9:00"></fs-datetime>
				<fs-datetime fs-model="model4" fs-label="Time" fs-time="true" fs-date="false"></fs-datetime>


<!-- 		<fs-datetime-range fs-from="from" fs-to="to" fs-to-label="End Date" fs-from-label="Start Date" fs-date="true"></fs-datetime-range>

		<fs-datetime-range fs-from="fromtime" fs-to="totime" fs-to-label="End Date" fs-from-label="Start Date" fs-time="true"></fs-datetime-range> -->
	</div>
	<div>
		<h3>Date: {{model}}</h3>
		<h3>Range: {{from}} - {{to}}</h3>

		<md-button class="md-accent" ng-click="updateInvalid()">Update Invalid</md-button>
		<md-button class="md-accent" ng-click="updateInt()">Update Int</md-button>
		<md-button class="md-accent" ng-click="open()" class="md-raised">Open</md-button>
	</div>
</div>

<md-button type="submit" class="md-primary md-raised">Submit</md-button>
</form>



<script type="text/ng-template" id="views/patterns/include.html">
<md-dialog aria-label="Modal">
    <fs-datetime fs-model="model3" fs-label="Date/Time" fs-time="true"></fs-datetime>
</md-dialog>
</script>

